$darkblue: #26303a;
$darkblue-op: rgba(38, 48, 58, 0.3);
$green: #74c793;
$deep-gray: #bbc3d1;
$gray: #d3dae5;
$light-gray: #e9eef2;

$mob-tab-widths-only: (max-width: 1199px);
$tablet-widths: (min-width: 700px);
$desktop-widths: (min-width: 1200px);

$retina: (min-resolution: 144dpi) and (min-resolution: 1.5dppx);