@font-face {
	font-weight: 300;
	font-family: "Open Sans";
	font-style: normal;
	src:  /* local("Open Sans"), */
				url("../fonts/OpenSans/opensanslight.woff2") format("woff2"),
				url("../fonts/OpenSans/opensanslight.woff") format("woff");
}

@font-face {
	font-weight: normal;
	font-family: "Open Sans";
	font-style: normal;
	src:  /* local("Open Sans"), */
				url("../fonts/OpenSans/opensans.woff2") format("woff2"),
				url("../fonts/OpenSans/opensans.woff") format("woff");
}

@font-face {
	font-weight: bold;
	font-family: "Open Sans";
	font-style: normal;
	src:  /* local("Open Sans"), */
				url("../fonts/OpenSans/opensansbold.woff2") format("woff2"),
				url("../fonts/OpenSans/opensansbold.woff") format("woff");
}

body {
	font-size: 14px;
	line-height: 24px;
	font-family: "Open Sans", Arial, sans-serif;
	color: white;
	font-style: normal;
}